In [130]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_8460\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [12]:
print(3 + 5);
print(5 * 3)

8
15

In [17]:
print(3 + 5); print(3 * 4); print(4 + 7)

8
12
11

In [18]:
for i in [1,2,3]:
    print(i)

1
2
3

In [25]:
#### 자료형
#리터널 : 자연어 : 문자, 숫자(정수/실수), 참/거짓
#         정수 리터널 : 10, 2, 3
#         실수 리터널 : 10.5 , 1.5
print(10)
print(10.5)
a = 10 # a : 정수리터널 변수 : 정수형 변수
print(10)
print(a)
###  변수 = 리터널
a = 20
print(a)
a = 10.5 ### 실수리터널 변수
print(a)
### 변수란 : 리터널값을 저장하는 문자
a = 30
print(a)

10
10.5
10
10
20
10.5
30

In [26]:
aaa = 10
print(aaa)

10

In [48]:
### 숫자 연산자 , +, -, *, /
a  =  10 / 2
print(a)
a = 10
b = 2
print( a / b)
print( 10 / 2)
### 나머지 : %
print( 10 % 3)
a = 10 % 3
print(a)
print(10 / 3)
### 몫 : //
print(10 // 3)
a = 10 // 3
print(a)
##### 제곱 승
print(1000)
print(10 ** 2)
print(10 ** 3)
b = 10 ** 3
print(b)

### 숫자리터널(정수, 실수) 연산자 : +, -, *, /, %, //, **

5.0
5.0
5.0
1
1
3.3333333333333335
3
3
1000
100
1000
1000

In [52]:
### 자연어 : 리터널 : 숫자, 문자, 참/거짓
### 숫자리터널 : 정수리터널 : 10
###              실수리터널 : 1.5
### 문자리터널 : "이숭무", 'highland0@nate.com', "01071461970"
###              '010' , "a", "10", '10', "10.5", '10.5'
###               a, 이숭무 : 변수

a = 10
이숭무 = 'hello python'
print(이숭무)
print( 10 + 10 )
print( "10" + "10" )
# 숫자는 변수로 사용하지 못한다.
a10 = 10;
#10q = 100;

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (4258158931.py, line 11)

In [53]:
print(10) # 정수리터널
print("10") # 문자리터널
print('10') # 문자리터널

10
10
10

In [58]:
# 문자 리터널 연산자 ,+ , *
print( "10" + "20" ) # + : 문자열에서 붙이기 연산자.
a = "python"
b = "is"
c = "fun"
print(a + b + c)
print(a + " " + b + " " + c)
이숭무 = "Rhee"
print(이숭무)
b = "이숭무"
print(b)

1020
pythonisfun
python is fun
Rhee
이숭무

In [74]:
### 문자열 리터널 : "a", 'a',"""a""",'''a'''
print("이숭무")
print('이숭무')
print("""이숭무""")
print('''이숭무''')
print('Life is short,  You need python')
print("""Life is short, 
You need python""")
print('''fe is short, 
You need python''')
print('Life is short,\n You need python')
print('Life\'s short, You need python')
print("Life is short, \"You need python\"")
print("Life's short, You need python")
print('Life is short, "You need python"')
str1 = '''Life is short,
You need python'''
print(str1)
str1 = """Life is short,
You need python"""
print(str1)

이숭무
이숭무
이숭무
이숭무
Life is short,  You need python
Life is short,
You need python
fe is short,
You need python
Life is short,
 You need python
Life's short, You need python
Life is short, "You need python"
Life's short, You need python
Life is short, "You need python"
Life is short,
You need python
Life is short,
You need python

In [79]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [95]:

#print("10" + 3)
print("10" + "3")
head = "Life"
tail = "is"
a  =  3
print(head + tail)
#print(head + a)

print("python" * 3) # 반복연산자
print(tail * a)
print("==" * 30)
print("제목")
print("==" * 30)

#문자열 리터널 연산자 : +, *
## 주의점
print("10" + str(3))
str = 10 # 변수
print(str)
print("10" + str(3))

103
Lifeis
pythonpythonpython
isisis
============================================================
제목
============================================================
103
10

TypeError: 'int' object is not callable

In [96]:
del str
print("10" + str(3))
##### str변수  str()함수 : 함수명과 변수명을 같이 사용가능하다.(다른 언어)
#### 파이썬에서는 안된다.

103

In [106]:
str1 = "Life is too short"
#       01234567890123456   : index
#                 1
print(str1[14])
print(str1[15])
idx = 8
print(str1[idx])
print(str1[0])
### 글자의 갯수
print(len(str1)) # 17
print(str1[16])
print(str1[17-1])
print(str1[len(str1)-1])
print(str1[3])
print("Life is too short"[3])

o
r
t
L
17
t
t
t
e

In [111]:
str1 = "Life is too short"
#       01234567890123456   : index
#                 1
#       76543210987654321  -
#              1
print(str1[16])
print(str1[len(str1) - 1])
print(str1[-1])
print(str1[0])
print(str1[-17])
## indexing : index를 이용해서 원하는 문자를 가지고 오는 것
# index는 문자열에 있는 문자가 가지고 있는 고유의 번호

# Life를 출력
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[0]+str1[1]+str1[2]+str1[3])

t
t
t
L
L
L
i
f
e
Life

In [117]:
#slicing 
str1 = "Life is too short"
#       01234567890123456   : index
#                 1
#       76543210987654321  -
#              1
print(str1[0]+str1[1]+str1[2]+str1[3])
print(str1[0:0+4])
print(str1[0:4])
print(str1[8:8+3])
print(str1[8:11]) ## start:8, stop:11
# L로 시작해서 10글자
print(str1[0:0+10])
start = 2
cnt = 10
print(str1[start:start+cnt])
print(str1[2:2+10])
print(str1[2:12]) # 2index부터 12번 전까지 가져오시오.

Life
Life
Life
too
too
Life is to
fe is too
fe is too

In [127]:
str1 = "Life is too short"
#       01234567890123456   : index
#                 1
#       76543210987654321  -
#              1
print(str1[8:17])
print(str1[8:len(str1)])
print(str1[8:])
print(str1[-9:])

print(str1[0:4])
print(str1[:4])

# too를 출력하시오.
print(str1[8:8+3])
print(str1[-9:-9+3])
print(str1[-9:11])
print(str1[-9:-6])

too short
too short
too short
too short
Life
Life
too
too
too
too

In [129]:
# 날짜와 이름을 분리하여 출력
a = "20010331Rainy"
###  0123456789012
##             1
print(a[:8])
print(a[8:])
###년월일
print(a[:4])
print(a[4:6])
print(a[6:8])

20010331
Rainy
2001
03
31

In [138]:
str1 = "Life is too short"
#       01234567890123456   : index
#                 1
#       76543210987654321  -
#              1
print(str1[:])
print(str1[::2])
print(str1[::-1])
print(str1[::3])
print(str1[2:14:2])
print(str1[2:14:-1])

Life is too short
Lf stosot
trohs oot si efiL
Lesosr
f stos

In [143]:
str1="pithon"
#     012345
print(str1)
print(str1[1])
#str1[1] = 'y'문자열은 부분적으로 수정할 수 없다.
print(str1[:1]+"y"+str1[2:])

pithon
i
python

In [148]:
# 문자열 포매팅
'나의 이름은 이숭무이고 나이는 30입니다.'
name = '이숭무'
age = 38
#print('나의 이름은 '+name+'이고 나이는 '+age+'입니다.')
print('나의 이름은 %s이고 나이는 %d입니다.' % (name, age))
## 포맷문자 : %d, %s, %f,

나의 이름은 이숭무이고 나이는 38입니다.

In [155]:
### 이숭무의 계좌번호는 1111이고 잔액은 100입니다.
name = "이숭무"
account = "1111"
money = 100
a = '%s의 계좌번호는 %s이고 잔액은 %d입니다.' % (name, account, money)
print(a)
a = name+'의 계좌번호는 '+account+'이고 잔액은 '+ str(money) +'입니다.'
print(a)

이숭무의 계좌번호는 1111이고 잔액은 100입니다.
이숭무의 계좌번호는 1111이고 잔액은 100입니다.

In [173]:
"이숭무의 나이는 25살이고 키는 175.3입니다"
height = 173.5
a = "%s의 나이는 %d살이고 키는 %f입니다" % (name, age, height)
print(a)
print(170)
print(70)
print(10.5)
print(10.55)
print(99.999999)
a = "%s의 나이는 %d살이고 키는 %5.1f입니다" % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %5.2f입니다" % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %5.4f입니다" % (name, age, height)
print(a)
a = "%s의 나이는 %d살이고 키는 %.1f입니다" % (name, age, height)
print(a)
a = "%s의 나이는 %s살이고 키는 %s입니다" % \
                        (name, age, height)
print(a)

이숭무의 나이는 38살이고 키는 173.500000입니다
170
70
10.5
10.55
99.999999
이숭무의 나이는 38살이고 키는 173.5입니다
이숭무의 나이는 38살이고 키는 173.50입니다
이숭무의 나이는 38살이고 키는 173.5000입니다
이숭무의 나이는 38살이고 키는 173.5입니다
이숭무의 나이는 38살이고 키는 173.5입니다

In [179]:
#-는 왼쪽정렬, +는 오른쪽 정렬
"이숭무의 나이는 25     살이고 키는 175.3입니다"
"이숭무의 나이는      25살이고 키는 175.3입니다"
print("%s의 나이는 %-10s살이고 키는 %s입니다" % (name, age, height))
print("%s의 나이는 %10s살이고 키는 %s입니다" % (name, age, height))
print("I have %s apples" % age)

이숭무의 나이는 38        살이고 키는 173.5입니다
이숭무의 나이는         38살이고 키는 173.5입니다
I have 38 apples

In [182]:
# format 함수를 사용한 포매팅
# 문자 : "a", 'a'
# 정수 : 10
# 실수 : 1.5
# 변수 : a
# 함수 : a(), print(), str(), format(), len()
name = '이숭무'
age = 25
height = 175.3
# 이숭무님의 나이는 25살이고요 키는 175.3입니다
print("%s의 나이는 %-10s살이고 키는 %s입니다" % (name, age, height))
print("{1}님의 나이는 {0}살이고요 키는 {2}입니다".format(age, name, height))
#                                                       0     1     2
# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
print("{0}의 나이는 {1}살이고요 {0}의 키는 {2}입니다".format(name,age,height))
#                                                           0    1    2

이숭무의 나이는 25        살이고 키는 175.3입니다
이숭무님의 나이는 25살이고요 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [192]:
# 이름으로 넣기
print("오늘 먹은 사과는 모두 {0}개입니다.".format(3))
print("오늘 먹은 사과는 모두 {count}개입니다.".format(count=3))

# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
print("{a}의 나이는 {b}살이고요 이숭무의 키는 {c}입니다"\
      .format(a='이숭무',b=25,c=172.5))
### 인덱스와 이름을 혼용해서 넣기
print("{0}의 나이는 {1}살이고요 {0}의 키는 {h}입니다".format(name, age, h=173.5))
#print("{0}의 나이는 {2}살이고요 {0}의 키는 {h}입니다".format(name, h=173.5, age))
#                                                           0              1
print("{0}의 나이는 {a}살이고요 {0}의 키는 {h}입니다".format(name, a = 26, h=173.5))
#                                                           0

오늘 먹은 사과는 모두 3개입니다.
오늘 먹은 사과는 모두 3개입니다.
이숭무의 나이는 25살이고요 이숭무의 키는 172.5입니다
이숭무의 나이는 25살이고요 이숭무의 키는 173.5입니다
이숭무의 나이는 26살이고요 이숭무의 키는 173.5입니다

In [194]:
#f 문자열 포매팅
# 이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
name = '이숭무'
age = 25
height = 175.3
print(f"이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다")
print(f"{name}의 나이는 {age}살이고요 {name}의 키는 {height}입니다")
str1 = f"{name}의 나이는 {age}살이고요 {name}의 키는 {height}입니다"
print(str1)

# 1. 포맷문자를 이용한 포맷팅
# 2. format() 함수를 이용한 포맷팅
# 3. f문자를 이용한 포맷팅
# 문자열 연산자 : +, *
# 문자열을 추출 : indexing, slicing

이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다
이숭무의 나이는 25살이고요 이숭무의 키는 175.3입니다

In [199]:
# 문자열 가공 : 문자열 함수
a = "hobby"

# 길이함수
print(len(a))
print(len("hobby"))
# 특정문자의 갯수
print(a.count('b'))
print("hobby".count('b'))

5
5
2
2

In [ ]:
str1 = "Life is too short"
#       01234567890123456
#                 1
print(str1[8:8+3])
#t부터 3글자
print(str1[8:])
#문자열이 가지고 있는 index
print(str1.index('t'))
idx = str1.index('t')
print(str1[idx : idx + 3 ])
#too부터 모두
print(str1.index('too'))
print(str1[str1.index('too'):])
## i가 있는 문자부터 2글자
print(str1.index('i'))
print(str1[str1.index('i'): str1.index('i') + 2])

print(str1.index('i', str1.index('i') + 1))
idx = str1.index('i', str1.index('i') + 1)
print(str1[idx: idx+2])

print(str1.rindex('i'))
idx = str1.rindex('i')
print(str1[idx: idx+2])

In [222]:
str1 = "Life is too short"
#       01234567890123456
#                 1
#t부터 3글자
print(str1.index('t'))
print(str1.find('t'))
print(str1.rfind('t'))

### find와 index의 차이
#'K'를 찾으시오
print(str1.find('K'))
if str1.find('K') == -1:
    print('문자가 없다')
#print(str1.index('K')) #없는 문자열은 오류발생

8
8
16
-1
문자가 없다

In [228]:
str1 = "Life is too short"
#모두 소문자로
print(str1.lower())
print(str1)
str2 = str1.lower()
print(str2)
#모두 대문자로
print(str1.upper())
print(str1)
str2 = str1.upper()
print(str2)

life is too short
Life is too short
life is too short
LIFE IS TOO SHORT
Life is too short
LIFE IS TOO SHORT

In [231]:
str1 = "   highland0       "
if str1 == "highland0":
    print("같다")
result = str1.strip();
if result == "highland0":
    print("같다")
print(str1)
print(result)

같다
   highland0
highland0

In [239]:
str1 = "   highland0       "
result=str1.strip()
print(result)
print(str1)
result="   highland0       ".strip()
print(result)
str1 = " Life is too short  "
result=str1.strip()
print(result)
result = str1.rstrip()
print(result)
result = str1.lstrip()
print(result)
str1 = "abLife is too shortab"
result = str1.strip("ab")
print(result)

highland0
   highland0
highland0
Life is too short
 Life is too short
Life is too short
Life is too short

In [242]:
str1 = "Life is too short"
str1.replace("Life","Your leg")
str2 = str1.replace("Life","Your leg")
print(str2)
print(str1)

Your leg is too short
Life is too short

In [244]:
# 쪼개기 : split : 배열 : 다른 언어 , 파이썬은 배열이 없다. numpy
#                : 리스트 :  파이썬 : 배열 대신
str1 = "Life is too short"
str2 = str1.split()
print(str2)
str1 = "Life:is:too:short"
str2 = str1.split(":") # ['Life', 'is', 'too', 'short']:리스트
print(str2)

['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [256]:
# 자료형 : 
# 리터널 자료형 : 비지니스 자료형
#              문자형리터널 : "a",'a',"""a""",'''a''', "10" , a:변수
#              정수리터널 : 10, 20 , "10":문자열
#              실수리터널 : 10.5 , "10.5":문자열
# 리스트 자료형 : []
i = 10 # 정수리터널 변수
str1 = "이숭무"
l = [1,2,3,4,5] # l : 리스트형 변수, [1,2,3,4,5] : 정수형리스트
print(i)
print(l)
print(str1)
l1 = [] # 빈리스트
l2 = ['이숭무','이상범','이장범'] # 문자열형리스트
l3 = [1,2,3,'이숭무','이상범'] # 혼합형리스트
l4 = [1,2,3,[4,5,6]] #리스트를 포함한 리스트
str1 = "Life:is:too:short"
str2 = str1.split(":")
print(str2)
l5 = ['Life', 'is', 'too', 'short']
print(l5)

#변수의 특징은 오로지 하나의 값만 가진다.
#문자열 변수 
a = "이숭무"
print(a)
a = "이상범"
print(a)
a = 10
print(a)
a = 20
print(a)
# 여러개의 값을 저장할 수 있는 자료형 : 리스트
l = [1,2,3,4,5]
print(l)

10
[1, 2, 3, 4, 5]
이숭무
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
이숭무
이상범
10
20
[1, 2, 3, 4, 5]

In [269]:
# indexing
str1 = "Life is too short" # 문자열의 각문자에 고유번호 
#       01234567890123456
#                 1
#       76543210987654321 -
#              1
print(str1[2])
print(str1[-1])
l1 = ['Life', 'is', 'too', 'short']  #요소에 부여된 번호 : index
#       0      1      2       3
#       4      3      2       1  -
print(l1)
print(l1[1]) # is : 문자열
#              01
print(l1[-3])
print(l1[1][1])
print(l1[-3][1])

print("is"[1])
print(l1[3]) # short : 문자열
print("short"[3])
print(l1[3][3])

print(l1[1] + l1[3]) # 문자열 + 문자열
l2 = [1, 2, 3, 4]
#     0  1  2  3
print(l2[1]) # 2
print(l2[3]) # 4
print(l2[1] + l2[3]) # 6

l3 = ['Life', 'is', 'too', 'short', 3]
print(l3[2]) # too
print(l3[4]) # 3
print(l3[2] * l3[4]) #  문자열 * 정수

f
t
['Life', 'is', 'too', 'short']
is
is
s
s
s
short
r
r
isshort
2
4
6
too
3
tootootoo

In [273]:
a = [1, 2, 3, 4, ['a', 'b', 'c']]
#    0  1  2  3         4
#                  0    1    2
#    5  4  3  2         1       -
#                  3    2    1  -
print(a[4][1])
print(a[-1][1])
print(a[-1][-2])

b
b
b

In [279]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
#    0  1             2
#            0    1          2
#                         0      1
print(a[2]) # ['a', 'b', ['Life', 'is']]
#               0    1         2
print(a[2][2]) #['Life', 'is']
#                   0      1
print(a[2][2][0]) # Life
#                   0123
print(a[2][2][0][1])

['a', 'b', ['Life', 'is']]
['Life', 'is']
Life
i

In [289]:
# slicing
str1 = "Life is too short"
print(str1[3:3+3])
l = [1,2,3,4,5,6,7]
#    0 1 2 3 4 5 6
print(l[2:2+3]) # 리스트
print(l[1]) # 정수
print(l[1] + l[3]) # 정수 + 정수
print(l[1:1+1]) # [2]
print(l[3:3+1]) # [4]
print(l[1:1+1] + l[3:3+1]) # 리스트 + 리스트
print(l * 4) # 반복연산자.

e i
[3, 4, 5]
2
6
[2]
[4]
[2, 4]
[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [292]:
str1 = 'Life is too short'
str2 = str1.replace("Life", "your leg");
print(str2)
#str1[1] = 'y'; 
c = ['Life', 'is', 'too', 'short'] 
### 'Life'를 ' your leg'
print(c[0])
c[0] = 'your leg'
print(c)
#리스트에서는 요소를 변경할 수 있다.

your leg is too short
Life
['your leg', 'is', 'too', 'short']

In [312]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
#    0  1  2         3         4

# [3, ['a', 'b', 'c'], 4]를 출력
print(a[2: 2 + 3])
# ['a', 'b', 'c']를 출력
print(a[2: 2+ 3][1])
print(a[3])
# 'b'를 출력
print(a[2: 2+ 3][1][1])
print(a[3][1])
# ['b', 'c']를 출력하세요
print(a[2: 2+ 3][1][1:1+2])
print(a[3][1:1+2])
# 위 리스트를 이용해서 ['b', 'c','b', 'c','b', 'c','b', 'c'] 가 출력되게 하시오.
print(a[2: 2+ 3][1][1:1+2] * a[4])
print(a[3][1:1+2] * a[4])

['b', 'a', 'b', 'a', 'b', 'a', 'b', 'a']