In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_4936\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [6]:
l = [1,2,3,4,5]
str1 = "Pithon"
print(str1[1])
#str1[1] = 'y'
print(l[1])
l[1] = 10 #각 요소의 값을 변경할 수 있다.
print(l)
l[4]
l[4] = 100
print(l)

i
2
[1, 10, 3, 4, 5]
[1, 10, 3, 4, 100]

In [9]:
# 리스트 함수
print(len(str1)) # 문자의 갯수
print(len(l)) # 요소의 갯수

6
5

In [19]:
### 리스트에 요소 추가 
l1 = ['Life','is'] #문자열을 가진 리스트
# 요소 'is' 뒤에 'too'를 추가  ['Life','is','too']
l1.append('too')
print(l1)
# ['Life','is','too']에 short 를 추가
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
l1 = ['Life','short']
#       0       1
l1.insert(1, 'is')
print(l1) # ['Life', 'is', 'short']
#              0       1      2
l1.insert(2,'too')
print(l1) # ['Life', 'is', 'too', 'short']
a = [1,2,3]
# ['Life', 'is', 'too', 'short' ,1,2,3]
# 리스트 확장
print(l1 + a)
print(l1)
l1.extend(a)
print(l1)

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 1, 2, 3]
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 1, 2, 3]

In [43]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#        0       1      2      3     4  5  6
# index를 이용해서 요소 삭제
del l1[4]
print(l1)
#slicing을 이용해서 삭제
print(l1[2:2+2])
del l1[2:2+2]
print(l1)
print(l1[1:])
del l1[1:]
print(l1)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# 요소를 이용해서 삭제
l1.remove('short')
print(l1)
l1.remove(1)
print(l1)
#l1.remove([2])
#l1.remove('2')
result = l1.remove('is')
print(result)
# 리스트에 있는 값을 가지고 나온 후 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#       0      1      2       3     4  5  6
result = l1.pop() # 맨뒤에 있는 값을 가지고 나온 후 삭제
print(result)
print(l1)
result = l1.pop() # 비 복원추출
print(result)
print(l1)
result = l1.pop(2) # index를 이용해서 값을 가지고 나온 후 삭제
print(result)
print(l1)
#주사위는 복원추출이다.

['Life', 'is', 'too', 'short', 2, 3]
['too', 'short']
['Life', 'is', 2, 3]
['is', 2, 3]
['Life']
['Life', 'is', 'too', 1, 2, 3]
['Life', 'is', 'too', 2, 3]
None
3
['Life', 'is', 'too', 'short', 1, 2]
2
['Life', 'is', 'too', 'short', 1]
too
['Life', 'is', 'short', 1]

In [60]:
# 정렬 --  오름차순, 내림차순
l = [4,2,5,1,3]
#오름차순
l.sort()
print(l)
#내림차순
l.sort(reverse=True)
print(l)
l = [4,2,5,1,3]
l.reverse()
print(l)
# 문자열 리스트인 경우 정렬 : 사전 순서
# 문자열과 숫자가 혼합된 리스트를 정렬 (x): 
# '<' not supported between instances of 'str' and 'int'

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]

In [61]:
str3 = 'hobby'
print(str3.count('b'))
print(str3.index('b'))
print(str3.index('b',3))
print(str3.find('b'))
#print(str3.index('k')) # 오류
print(str3.find('k')) # -1

a = [1, 4, 2, 5, 4, 3]
print(a.count(4))
print(a.index(4))
print(a.index(4, 2))
#print(a.find(4)) #리스트에서는  find함수가 없다.
#print(a.index(6)) #오류

2
2
3
2
-1
2
1
4

In [75]:
'''
리터널 자료형: 숫자자료형 : 정수 : 10,  5
                          실수 : 10.5 , 5.2
              문자열자료형 : "a", 'a',"""a""", '''''' ,'10', '10.5'
리스트 자료형 : [], [1], [10.5], ['a'] , [1,2,'a'], [[1],2]
튜플   자료형 : (), (1,2), ('a', 'b') 
'''
a = 10
b = "a"
l = [] #빈 리스트
t = () #빈 튜플
l = [1,2,3,4] 
print(l)
t = (1,2,3,4)
print(t)
l = [1]
print([(1 + 1) * 3])
print((1 + 1))
print((1+1,))
t = (1)
print(t)
t = (1,) #요소가 하나인 경우에는 최우선 연산자와 구별하기 위해 콤마를 넣어준다
print(t)
t = (1,2) #정수형 튜플
print(t)
t = ('a','b')#문자열 튜플
t= ('a','b',1,2,3) #혼합형튜플
t= ('a','b',(1,2,3))
t= ('a','b',(1,2,3),[1,2,3], 1,2,3)

[1, 2, 3, 4]
(1, 2, 3, 4)
[6]
2
(2,)
1
(1,)
(1, 2)

In [90]:
# indexing, slicing을 할 수 있다
l = [1,2,3,4,3]
t = (1,2,3,4,3)
#    0 1 2 3
print(l[2])
print(t[2])
print(l[2:])
print(t[2:])
print(l[2:] + [10])
print(t[2:] + (10,))
print(l[:4])
print(t[:4])
print(l.index(3))
print(t.index(3))
print(l.count(3))
print(t.count(3))
print(len(l))
print(len(t))

3
3
[3, 4, 3]
(3, 4, 3)
[3, 4, 3, 10]
(3, 4, 3, 10)
[1, 2, 3, 4]
(1, 2, 3, 4)
2
2
2
2
5
5

In [91]:
# 리스트와 튜플의 차이점
l = [1,2,3,4]
t = (1,2,3,4)
print(l[2])
l[2] = 10
print(l)
print(t[2])
#t[2] = 10
# 요소의 값을 변경 가능한 것은 리스트
# 요소의 값을 변경 가능하지 않은 것은 튜플
del l[2]
print(l)
#del t[2]

3
[1, 2, 10, 4]
3
[1, 2, 4]

In [97]:
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
a = "1"
print(str(10) + a)
print(10 + int(a))
print(10 + float(a))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
101
11
11.0

In [112]:
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#     0  1  2   3    4      5        6
print(t7[2]) #정수
print(t7[4]) #문자열
print(t7[5]) #리스트
print(t7[6]) #튜플
print(t7[5][1]) #정수
print(t7[6][1]) #정수
print(t7[2:4]) # 튜플
l7 = [1, 2, 3, "a", "b", [1,2,3], (1,2,3)]
print(l7[2:4]) # 리스트
str1 = "hello"
print(str1[2])
print("hello"[2])
t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3)
print(t8)
a, b = 1 , 2
print(a, b)
a, b = (1, 2)
print(a, b)

3
b
[1, 2, 3]
(1, 2, 3)
2
2
(3, 'a')
[3, 'a']
l
l
(1, 2, 3, 'a', 'b', [1, 2, 3], (1, 2, 3))
1 2
1 2

In [116]:
l = ['Life', 'is', 'too', 'short' ]
print("".join(l))
print(" ".join(l)) #리스트를 문자열로 변경할 때
t = ('Life', 'is', 'too', 'short' )
print(" ".join(t))
str1 = "hello"
print(" ".join(str1))

Lifeistooshort
Life is too short
Life is too short
h e l l o

In [127]:
# 리터널 자료형 : 정수, 실수, 문자열
# 리스트 자료형 : []
# 튜플 자료형 : (), (1,), (1,2,3)
# 딕셔너리(사전) : {}, {key_1:value_1,..., key_n:value_n}
               #  자바스크립트 : json , 자바 : map<key, value> 
dic = {}
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
l = [1,2,3,4]
print(l[2]) 
t = (1,2,3,4)
print(t[2])
str1= "hello"
print(str1[2])
print(dic1['name'])
print(dic1['age'])
d2 = {2:'이숭무', 0:'이상범', 1:'이장범'}
#        0           1            2   딕셔너리는 index를 사용하지 않는다.
print(d2[0]) # 값을 key를 이용해서 가지고 온다.
print(d2[2])
l[2] = 10 # index를 이용해서 값을 변경
print(l)
d2[2] = '김찬중' #키를 이용해서 값을 변경할 수 있다.
print(d2)
# l[4] = 100 index가 없는 경우 오류 발생
d2[3] = '이숭무'
print(d2) # 키가 있는 경우 값을 변경하고 키가 없는 경우 요소를 추가
#키의 중복을 허용하지 않는다.
d3 = {1:'이숭무' , 1:'이상범' }
print(d3)
d3 = {1:'이숭무'}
d3[1] = "이상범"
print(d3)

3
3
l
이숭무
35
이상범
이숭무
[1, 2, 10, 4]
{2: '김찬중', 0: '이상범', 1: '이장범'}
{2: '김찬중', 0: '이상범', 1: '이장범', 3: '이숭무'}
{1: '이상범'}
{1: '이성범'}

In [139]:
#딕셔너리 함수
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
dic1['phone'] = '01071461970'
print(dic1)
l = [1,2,3,4]
del l[1]
print(l)
del dic1['age']
print(dic1)
### 딕셔너리에 있는 키만 가져오기
print(dic1.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic1.values())
## 키와 값을 쌍으로 
print(dic1.items())
print(l)
l.clear()
print(l)
print(dic1)
dic1.clear()
print(dic1)

{'name': '이숭무', 'age': 35, 'height': 175.5, 'phone': '01071461970'}
[1, 3, 4]
{'name': '이숭무', 'height': 175.5, 'phone': '01071461970'}
dict_keys(['name', 'height', 'phone'])
dict_values(['이숭무', 175.5, '01071461970'])
dict_items([('name', '이숭무'), ('height', 175.5), ('phone', '01071461970')])
[1, 3, 4]
[]
{'name': '이숭무', 'height': 175.5, 'phone': '01071461970'}
{}
(1, 2, 3, 4)

In [145]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['birth'] = '19981118'
#               87654321 - 
print(dic)
print(dic['birth']) #요소의 value가 문자열이므로 indexing또는 slicing을 할 수 있다.
## 년, 월 , 일을 따로 출력하세요
print(dic['birth'][0:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])

print(dic['birth'][0:-4])
print(dic['birth'][-4:4+2])
print(dic['birth'][-4:-4+2])
print(dic['birth'][-2:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
19981118
1998
11
18
1998
11
11
18

In [157]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(dic['name'])
print(dic.get('name'))
#print(dic['money'])
print(dic.get('money'))
print(dic.get('money', 10))
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600, 'money': 100 }
print(dic1['pop']) #정수
print(dic2['pop']) #정수
print(dic1['pop'] + dic2['pop'])
#print(dic1['money'] + dic2['money'])
print(dic1.get('money',0) + dic2.get('money', 0))
print(dic1.get('pop',0) + dic2.get('pop', 0))
print(dic1.get('classic',0) + dic2.get('classic', 0))

pey
pey
None
10
600
600
1200
100
1200
1000

In [168]:
# 집합(set) : 교집합 ,합집합, 차집합
dic = {1:'이', 2:'숭'}
s = {1,2,3,4,5}
print(s)
print(dic)
t  = tuple([1,2,3,4,5])
print(t)
l = list((1, 2, 3, 4, 5))
print(l)
str1 = " ".join(['1','2','3','4','5'])
print(str1)
str1 = " ".join(('1','2','3','4','5'))
print(str1)
i = int('10')
print(i + 10)
str2 = str(10)
print(str2 + "100")
s = set([1,2,3,4,5])
print(s)
s = set((1,2,3,4,5))
print(s)

{1, 2, 3, 4, 5}
{1: '이', 2: '숭'}
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
1 2 3 4 5
1 2 3 4 5
20
10100
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [186]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#교집합
print(s1 & s2)
print(s1.intersection(s2))
#합집합
print(s1 | s2)
print(s1.union(s2))
#차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))
#요소 추가
s1.add(7)
print(s1)
s1.add(9)
print(s1)
#s2에 10,11,12를 추가
s1.add((10,11,12)) #요소 한개만 추가 가능
print(s1)
s1.remove((10,11,12))
print(s1)
s1.update((10,11,12))
print(s1)
s1.update([13,14,15])
print(s1)
#s1.remove(10,12) #요소 하나씩만 가능
#s1.remove((10,12)) #튜플을 삭제

{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9, (10, 11, 12)}
{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15}

In [188]:
s = "hello"
print(s)
s = set("hello") #집합자료형은 중복값을 허용하지 않는다.
print(s)

hello
{'e', 'l', 'o', 'h'}

In [195]:
i = 1
print(i)
i = 10
print(i)
i = 100
print(i)
b = True
print(b)
b = False
print(b)
#리터널 자료형 : 정수, 실수 : +, -, *, /, //, %, **
#               문자열 : + , *
#리스트 자료형 : [] : + , *
#튜플 자료형 : (), (1,) : +, *
#딕셔너리 : {}, {key:value,..., n}
#집합 자료형 : {1,2,3} : & , |
#부울 자료형 : True(참), False(거짓) : 논리연산자 (and / or)
#b = true # name 'true' is not defined : 변수
print(b)
true = 10
print(true)
b = True
print(b)
# 부울 자료형 : 논리연산
print(True and True)
print(True and False)

print(True or True)
print(True or False)
print(False and False)

# 비교(관계)연산자 : < , > ,>=, <= , == , != : 결과는 부울타입

1
10
100
True
False
False
10
True