In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_4936\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [6]:
l = [1,2,3,4,5]
str1 = "Pithon"
print(str1[1])
#str1[1] = 'y'
print(l[1])
l[1] = 10 #각 요소의 값을 변경할 수 있다.
print(l)
l[4]
l[4] = 100
print(l)

i
2
[1, 10, 3, 4, 5]
[1, 10, 3, 4, 100]

In [9]:
# 리스트 함수
print(len(str1)) # 문자의 갯수
print(len(l)) # 요소의 갯수

6
5

In [19]:
### 리스트에 요소 추가 
l1 = ['Life','is'] #문자열을 가진 리스트
# 요소 'is' 뒤에 'too'를 추가  ['Life','is','too']
l1.append('too')
print(l1)
# ['Life','is','too']에 short 를 추가
l1.append('short')
print(l1)
l1.append(3)
print(l1)
# 원하는 위치에 요소 삽입하기
l1 = ['Life','short']
#       0       1
l1.insert(1, 'is')
print(l1) # ['Life', 'is', 'short']
#              0       1      2
l1.insert(2,'too')
print(l1) # ['Life', 'is', 'too', 'short']
a = [1,2,3]
# ['Life', 'is', 'too', 'short' ,1,2,3]
# 리스트 확장
print(l1 + a)
print(l1)
l1.extend(a)
print(l1)

['Life', 'is', 'too']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 3]
['Life', 'is', 'short']
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 1, 2, 3]
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short', 1, 2, 3]

In [43]:
#요소 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#        0       1      2      3     4  5  6
# index를 이용해서 요소 삭제
del l1[4]
print(l1)
#slicing을 이용해서 삭제
print(l1[2:2+2])
del l1[2:2+2]
print(l1)
print(l1[1:])
del l1[1:]
print(l1)
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
# 요소를 이용해서 삭제
l1.remove('short')
print(l1)
l1.remove(1)
print(l1)
#l1.remove([2])
#l1.remove('2')
result = l1.remove('is')
print(result)
# 리스트에 있는 값을 가지고 나온 후 삭제
l1 = ['Life', 'is', 'too', 'short', 1, 2, 3]
#       0      1      2       3     4  5  6
result = l1.pop() # 맨뒤에 있는 값을 가지고 나온 후 삭제
print(result)
print(l1)
result = l1.pop() # 비 복원추출
print(result)
print(l1)
result = l1.pop(2) # index를 이용해서 값을 가지고 나온 후 삭제
print(result)
print(l1)
#주사위는 복원추출이다.

['Life', 'is', 'too', 'short', 2, 3]
['too', 'short']
['Life', 'is', 2, 3]
['is', 2, 3]
['Life']
['Life', 'is', 'too', 1, 2, 3]
['Life', 'is', 'too', 2, 3]
None
3
['Life', 'is', 'too', 'short', 1, 2]
2
['Life', 'is', 'too', 'short', 1]
too
['Life', 'is', 'short', 1]

In [60]:
# 정렬 --  오름차순, 내림차순
l = [4,2,5,1,3]
#오름차순
l.sort()
print(l)
#내림차순
l.sort(reverse=True)
print(l)
l = [4,2,5,1,3]
l.reverse()
print(l)
# 문자열 리스트인 경우 정렬 : 사전 순서
# 문자열과 숫자가 혼합된 리스트를 정렬 (x): 
# '<' not supported between instances of 'str' and 'int'

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[3, 1, 5, 2, 4]

In [61]:
str3 = 'hobby'
print(str3.count('b'))
print(str3.index('b'))
print(str3.index('b',3))
print(str3.find('b'))
#print(str3.index('k')) # 오류
print(str3.find('k')) # -1

a = [1, 4, 2, 5, 4, 3]
print(a.count(4))
print(a.index(4))
print(a.index(4, 2))
#print(a.find(4)) #리스트에서는  find함수가 없다.
#print(a.index(6)) #오류

2
2
3
2
-1
2
1
4

In [75]:
'''
리터널 자료형: 숫자자료형 : 정수 : 10,  5
                          실수 : 10.5 , 5.2
              문자열자료형 : "a", 'a',"""a""", '''''' ,'10', '10.5'
리스트 자료형 : [], [1], [10.5], ['a'] , [1,2,'a'], [[1],2]
튜플   자료형 : (), (1,2), ('a', 'b') 
'''
a = 10
b = "a"
l = [] #빈 리스트
t = () #빈 튜플
l = [1,2,3,4] 
print(l)
t = (1,2,3,4)
print(t)
l = [1]
print([(1 + 1) * 3])
print((1 + 1))
print((1+1,))
t = (1)
print(t)
t = (1,) #요소가 하나인 경우에는 최우선 연산자와 구별하기 위해 콤마를 넣어준다
print(t)
t = (1,2) #정수형 튜플
print(t)
t = ('a','b')#문자열 튜플
t= ('a','b',1,2,3) #혼합형튜플
t= ('a','b',(1,2,3))
t= ('a','b',(1,2,3),[1,2,3], 1,2,3)

[1, 2, 3, 4]
(1, 2, 3, 4)
[6]
2
(2,)
1
(1,)
(1, 2)

In [90]:
# indexing, slicing을 할 수 있다
l = [1,2,3,4,3]
t = (1,2,3,4,3)
#    0 1 2 3
print(l[2])
print(t[2])
print(l[2:])
print(t[2:])
print(l[2:] + [10])
print(t[2:] + (10,))
print(l[:4])
print(t[:4])
print(l.index(3))
print(t.index(3))
print(l.count(3))
print(t.count(3))
print(len(l))
print(len(t))

3
3
[3, 4, 3]
(3, 4, 3)
[3, 4, 3, 10]
(3, 4, 3, 10)
[1, 2, 3, 4]
(1, 2, 3, 4)
2
2
2
2
5
5

In [91]:
# 리스트와 튜플의 차이점
l = [1,2,3,4]
t = (1,2,3,4)
print(l[2])
l[2] = 10
print(l)
print(t[2])
#t[2] = 10
# 요소의 값을 변경 가능한 것은 리스트
# 요소의 값을 변경 가능하지 않은 것은 튜플
del l[2]
print(l)
#del t[2]

3
[1, 2, 10, 4]
3
[1, 2, 4]

In [97]:
str1 = "hello"
l = list(str1)
print(l)
t = tuple(str1)
print(t)
a = "1"
print(str(10) + a)
print(10 + int(a))
print(10 + float(a))

['h', 'e', 'l', 'l', 'o']
('h', 'e', 'l', 'l', 'o')
101
11
11.0

In [112]:
t7 = (1, 2, 3, "a", "b", [1,2,3], (1,2,3))
#     0  1  2   3    4      5        6
print(t7[2]) #정수
print(t7[4]) #문자열
print(t7[5]) #리스트
print(t7[6]) #튜플
print(t7[5][1]) #정수
print(t7[6][1]) #정수
print(t7[2:4]) # 튜플
l7 = [1, 2, 3, "a", "b", [1,2,3], (1,2,3)]
print(l7[2:4]) # 리스트
str1 = "hello"
print(str1[2])
print("hello"[2])
t8 = 1, 2, 3, "a", "b", [1,2,3], (1,2,3)
print(t8)
a, b = 1 , 2
print(a, b)
a, b = (1, 2)
print(a, b)

3
b
[1, 2, 3]
(1, 2, 3)
2
2
(3, 'a')
[3, 'a']
l
l
(1, 2, 3, 'a', 'b', [1, 2, 3], (1, 2, 3))
1 2
1 2

In [116]:
l = ['Life', 'is', 'too', 'short' ]
print("".join(l))
print(" ".join(l)) #리스트를 문자열로 변경할 때
t = ('Life', 'is', 'too', 'short' )
print(" ".join(t))
str1 = "hello"
print(" ".join(str1))

Lifeistooshort
Life is too short
Life is too short
h e l l o

In [127]:
# 리터널 자료형 : 정수, 실수, 문자열
# 리스트 자료형 : []
# 튜플 자료형 : (), (1,), (1,2,3)
# 딕셔너리(사전) : {}, {key_1:value_1,..., key_n:value_n}
               #  자바스크립트 : json , 자바 : map<key, value> 
dic = {}
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
l = [1,2,3,4]
print(l[2]) 
t = (1,2,3,4)
print(t[2])
str1= "hello"
print(str1[2])
print(dic1['name'])
print(dic1['age'])
d2 = {2:'이숭무', 0:'이상범', 1:'이장범'}
#        0           1            2   딕셔너리는 index를 사용하지 않는다.
print(d2[0]) # 값을 key를 이용해서 가지고 온다.
print(d2[2])
l[2] = 10 # index를 이용해서 값을 변경
print(l)
d2[2] = '김찬중' #키를 이용해서 값을 변경할 수 있다.
print(d2)
# l[4] = 100 index가 없는 경우 오류 발생
d2[3] = '이숭무'
print(d2) # 키가 있는 경우 값을 변경하고 키가 없는 경우 요소를 추가
#키의 중복을 허용하지 않는다.
d3 = {1:'이숭무' , 1:'이상범' }
print(d3)
d3 = {1:'이숭무'}
d3[1] = "이상범"
print(d3)

3
3
l
이숭무
35
이상범
이숭무
[1, 2, 10, 4]
{2: '김찬중', 0: '이상범', 1: '이장범'}
{2: '김찬중', 0: '이상범', 1: '이장범', 3: '이숭무'}
{1: '이상범'}
{1: '이성범'}

In [139]:
#딕셔너리 함수
dic1 = {'name':'이숭무', 'age':35, 'height':175.5}
dic1['phone'] = '01071461970'
print(dic1)
l = [1,2,3,4]
del l[1]
print(l)
del dic1['age']
print(dic1)
### 딕셔너리에 있는 키만 가져오기
print(dic1.keys())
### 딕셔너리에 있는 값만 가져오기
print(dic1.values())
## 키와 값을 쌍으로 
print(dic1.items())
print(l)
l.clear()
print(l)
print(dic1)
dic1.clear()
print(dic1)

{'name': '이숭무', 'age': 35, 'height': 175.5, 'phone': '01071461970'}
[1, 3, 4]
{'name': '이숭무', 'height': 175.5, 'phone': '01071461970'}
dict_keys(['name', 'height', 'phone'])
dict_values(['이숭무', 175.5, '01071461970'])
dict_items([('name', '이숭무'), ('height', 175.5), ('phone', '01071461970')])
[1, 3, 4]
[]
{'name': '이숭무', 'height': 175.5, 'phone': '01071461970'}
{}
(1, 2, 3, 4)

In [145]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
dic['birth'] = '19981118'
#               87654321 - 
print(dic)
print(dic['birth']) #요소의 value가 문자열이므로 indexing또는 slicing을 할 수 있다.
## 년, 월 , 일을 따로 출력하세요
print(dic['birth'][0:4])
print(dic['birth'][4:4+2])
print(dic['birth'][6:])

print(dic['birth'][0:-4])
print(dic['birth'][-4:4+2])
print(dic['birth'][-4:-4+2])
print(dic['birth'][-2:])

{'name': 'pey', 'phone': '0119993323', 'birth': '19981118'}
19981118
1998
11
18
1998
11
11
18

In [157]:
dic= {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
print(dic['name'])
print(dic.get('name'))
#print(dic['money'])
print(dic.get('money'))
print(dic.get('money', 10))
dic1 = {'classic' : 500 ,  "pop" : 600 }
dic2 = {'classic' : 500 ,  "pop" : 600, 'money': 100 }
print(dic1['pop']) #정수
print(dic2['pop']) #정수
print(dic1['pop'] + dic2['pop'])
#print(dic1['money'] + dic2['money'])
print(dic1.get('money',0) + dic2.get('money', 0))
print(dic1.get('pop',0) + dic2.get('pop', 0))
print(dic1.get('classic',0) + dic2.get('classic', 0))

pey
pey
None
10
600
600
1200
100
1200
1000

In [168]:
# 집합(set) : 교집합 ,합집합, 차집합
dic = {1:'이', 2:'숭'}
s = {1,2,3,4,5}
print(s)
print(dic)
t  = tuple([1,2,3,4,5])
print(t)
l = list((1, 2, 3, 4, 5))
print(l)
str1 = " ".join(['1','2','3','4','5'])
print(str1)
str1 = " ".join(('1','2','3','4','5'))
print(str1)
i = int('10')
print(i + 10)
str2 = str(10)
print(str2 + "100")
s = set([1,2,3,4,5])
print(s)
s = set((1,2,3,4,5))
print(s)

{1, 2, 3, 4, 5}
{1: '이', 2: '숭'}
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
1 2 3 4 5
1 2 3 4 5
20
10100
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [186]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}
#교집합
print(s1 & s2)
print(s1.intersection(s2))
#합집합
print(s1 | s2)
print(s1.union(s2))
#차집합
print(s1 - s2)
print(s2 - s1)
print(s1.difference(s2))
print(s2.difference(s1))
#요소 추가
s1.add(7)
print(s1)
s1.add(9)
print(s1)
#s2에 10,11,12를 추가
s1.add((10,11,12)) #요소 한개만 추가 가능
print(s1)
s1.remove((10,11,12))
print(s1)
s1.update((10,11,12))
print(s1)
s1.update([13,14,15])
print(s1)
#s1.remove(10,12) #요소 하나씩만 가능
#s1.remove((10,12)) #튜플을 삭제

{4, 5}
{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9, (10, 11, 12)}
{1, 2, 3, 4, 5, 7, 9}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 14, 15}

In [188]:
s = "hello"
print(s)
s = set("hello") #집합자료형은 중복값을 허용하지 않는다.
print(s)

hello
{'e', 'l', 'o', 'h'}

In [199]:
i = 1
print(i)
i = 10
print(i)
i = 100
print(i)
b = True
print(b)
b = False
print(b)
#리터널 자료형 : 정수, 실수 : +, -, *, /, //, %, **
#               문자열 : + , *
#리스트 자료형 : [] : + , *
#튜플 자료형 : (), (1,) : +, *
#딕셔너리 : {}, {key:value,..., n}
#집합 자료형 : {1,2,3} : & , |
#부울 자료형 : True(참), False(거짓) : 논리연산자 (and / or)
#b = true # name 'true' is not defined : 변수
print(b)
true = 10
print(true)
b = True
print(b)
# 부울 자료형 : 논리연산
print(True and True)
print(True and False)

print(True or True)
print(True or False)
print(False and False)

# 비교(관계)연산자 : < , > ,>=, <= , == , != : 결과는 부울타입
mat = 40
eng = 80
#각 과목이 40점이상이고 평균이 60점 이상이면 True
result = mat >= 40 and eng >= 40 and (mat+eng) / 2 >= 60
print(result)
result = mat >= 40 #비교연산
print(result)
### 2200년은 윤년일까요(True)? 평년일까요(False)? 
### 4년마다 윤년이지만 100년마다는 윤년이 아니다 그렇지만 400년마다는 윤년이다.
#논리연산과 비교연산
result = 2200 % 4 == 0 and 2200 % 100 != 0  or  2200 % 400 == 0
print(result) # False(평년)

1
10
100
True
False
False
10
True
True
False
True
True
False
True
True
False

In [214]:
print(bool('이숭무')) #
print(bool('')) #blank , False
print(bool(-1))
print(bool(1))
print(bool(0)) #False
print(bool([1,2,3,4]))
print(bool([])) #False
print(bool((1,23)))
print(bool(())) #False
print(bool({1:'a'}))
print(bool({}))#False
print(bool(None)) #False

if '이숭무':
    print("문자열입니다.")
if 1:
    print("숫자입니다.")

True
False
True
True
False
True
False
True
False
True
False
False
문자열입니다.
숫자입니다.

In [222]:
str1 = "hello" # str
i = 10 #int
f = 10.5 # float
l = [1,2,3,4]  #list
t = (1,2,3,4)  # tuple
dic = {1:'이'} # dict
s = {1,2,3,4} # set
b = True # bool
print(type(str1))
print(type(i))
print(type(f))
print(type(l))
print(type(t))
print(type(dic))
print(type(s))
print(type(b))
i =10
i = "hello"
i = []
i = ()

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [230]:
a = 10
print(a)
print(id(a)) #a변수저장된 10이 가지고 있는 메모리의 주소 
b = [1,2,3,4] # 2096128575680
print(id(b))
c = b # 리스트에서는 안하는 것이 좋다. 
print(id(c))
c[1] = 100 # 2096126996032[1] = 100 
print(b)
c = b[:]
print(id(b))
print(id(c))

from copy import copy
d = copy(b)
print(id(b))
print(id(d))

10
140732719494216
2096123151616
2096123151616
[1, 100, 3, 4]
2096123151616
2096128575680
2096123151616
2096123359040

In [234]:
a, b = 1, 2
print(a, b)
(a, b) = 1, 2
print(a, b)
a, b = (1, 2)
print(a, b)
(a, b) = (1, 2)
print(a, b)
[a, b] = (1, 2)
print(a, b)
[a, b] = [1, 2]
print(a, b)
[a, b] = 1, 2
print(a, b)
a, b, c= 1, 2, '이숭무'
print(a,b,c)
# a, b, c = 1, 2 # 오류

1 2
1 2
1 2
1 2
1 2
1 2
1 2
1 2 이숭무

In [238]:
a = 10; b = 20
# b에 있는 값을 a에주고 a에 있는 값을 b에 주기
print(a, b)
temp = a
a = b
b = temp
print(a, b)
print('===' * 30)
a, b = b, a
print(a, b)

10 20
20 10
==========================================================================================
10 20

In [240]:
#제어문 
# bool타입을 이용해서 원하는 걀과를 가져오는 것
## 조건식은  비교연산식 또는 논리연산식
## 조건식의 결과에 따라 실행되거나 안된다.
## 조건식이 True이면 if문 안에 있는 명령어가 실행이 된다.
## if문 안에 있는 명령어는 Tab이나 공백문자를 이용해서 들여쓰기가 되어야한다.
## 하지만 두개 혼용할 수 없다. tab을 많이 사용한다.
### 조건식 뒤에는 :이 와야 한다.
'''
if  조건문:  # True 
    명령어1
    명령어2
    ...
    명령어n
'''
if '이숭무': #True
    print("문자열은 참이기 때문에 실행이된다.")
if '': # False
    print('blank는 거짓이기 때문에 실행이 안된다.')

문자열은 참이기 때문에 실행이된다.

In [247]:
#  단일 if
a = 10
if a < 20: #True
    print("a는 20보다 작다.")#if문 안에 있는 명령문
    
    print("안녕")#if문 안에 있는 명령문
print("if문 끝") # if문 밖에 있는 명령문

if a > 20 : #Fasle
    print("a는 20보다 크다.") #if문 안에 있는 명령문
    
print("if문의 끝") # if문 밖에 있는 명령문

a는 20보다 작다.
안녕
if문 끝
if문의 끝

In [251]:
money = 2000
if money >= 2000: # True
    print("차를타고 가시오")

if money < 2000: # False
    print("걸어가시오")

차를타고 가시오

In [254]:
# if ~ else : 두개 중에 하나를 실행 시키고 싶을 때
money = 2000
if money >= 3000: # True
    print("차를 타고 가시오")
else: #False
    print("걸어가시오.")
'''
if 조건식 : # True
    명령어1
    명령어2
    ...
    명령어n
else:      # False
    명령어11
    명령어12
    ...
    명령어nn
'''

걸어가시오.

In [259]:
money = 2000
if not money >= 3000:  # not False = True
    print("걸어가시오")
else: #False
    print("차를 타고 가시오.")
x = 10; y = 20
if x > y:
    print("x가 y보다 크다")
else :
    print("x가 y보다 작다")
if x == y:
    print("x가 y보다 같다")
else :
    print("x가 y보다 같지 않다")
if x != y:
    print("x가 y보다 같지 않다")
else :
    print("x가 y보다 같다")

걸어가시오
x가 y보다 작다
x가 y보다 같지 않다
x가 y보다 같지 않다

In [263]:
year = 2400
result = year % 4 == 0 and year % 100 != 0  or  year % 400 == 0
print(result)
if year % 4 == 0 and year % 100 != 0  or  year % 400 == 0:
    print("윤년")
else:
    print("평년")

True
윤년

In [275]:
#in연산자 사용하기
l = [1,2,3,4,5,6]
print( 4 in l) # 포함되어 있으면 참/ 아니면 거짓
print(10 in l)
print(10 in [1,2,3,4,5,6])
print(7 not in l)

print( "y" in "python")
print( "yt" in "python")
print( "이" in "python")
print( "이" not in "python")

print(6 in (1,2,3,4,5,6))
print(6 in {1,2,3,4,5,6})

print(1 in {1:'이', 2:'숭'}) #키가 있는지

True
False
False
True
True
True
False
True
True
True
True

In [282]:
if 'k' in "python":
    print("k 가 있습니다.")
else:
    print("k가 없습니다.")
    
str1 = "python"
if 'k' in str1:
    print("k 가 있습니다.")
else:
    print("k가 없습니다.")
    
l = [1,2,3,4,5,6]
if 6 in l:
    print("리스트에 6이 있습니다.")
else:
    print("리스트에 6이 없습니다.")
    
if 7 not in l:
    print("7이 없습니다.")
else:
    print("7이 있습니다.")

k가 없습니다.
k가 없습니다.
리스트에 6이 있습니다.
7이 없습니다.

In [283]:
pocket = ['paper', 'cellphone', 'money']
print('money' in pocket)
if 'money' in pocket:
    print(" 주머니에 돈이 있습니다.")
else:
    print("주머니에 돈이 없습니다.")

True

In [284]:
### 영어가 40이상이고, 국어가 40이상이고 , 수학이 40이상일 때 , 
### 평균이 60이상이면 합격 그렇지 않으면 불합격
mat = 55
eng = 70
kor = 40
result = (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40
print(result)
if (mat+eng+kor) / 3 >= 60 and mat >= 40 and eng >= 40 and kor >= 40:
    print('합격')
else:
    print('불합격')

False
불합격

In [285]:
# score가 90이상이면 A, 80이상이면 B, 70이상이면 C, 60이상이면 D, 그렇지 않으면 F
# 조건이 여러개인 경우
# 조건식은 항상 if문 뒤에 와야한다. else문 뒤에는 조건식이 올 수 없다
'''
if 조건식: # True
    명령문1
    ...
elif 조건식:
    명령문11
elif 조건식:
    명령어22
    ...
...
else:
     명령어nn
     ...
'''
score = 75
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score>= 70:
    print('C')
elif score >= 60:
    print('D')
else:
    print('F')

C

In [286]:
### 95이상이면 A+ 이하면 A
### 85이상이면 B+ 이하면 B
### 75이상이면 C+ 이하면 C
### 65이상이면 D+ 이하면 D
score = 75
if score >= 90:
    if score >= 95:
        print('A+')
    else:
        print('A')
elif score >= 80:
    if score >= 85:
        print('B+')
    else:
        print('B')
elif score>= 70:
    if score >= 75:
        print('C+')
    else:
        print('C')
elif score >= 60:
    if score >= 65:
        print('D+')
    else:
        print('D')
else:
    print('F')

    
# 단일 if , if~else, if ~ elif~elif~...elif~else, 다중 if문

C+

In [290]:
'''
score가 60이상이면 message 변수에 success를 아니면 message 에 failure를 저장한 후 출력
'''
if score >= 60:
    message = "success"
else:
    message = "failure"
print(message)


message = "success" if score >= 60 else "failure"
print(message)

success
success

In [293]:
# 사직연산
a = 10; b = 20; opt = "add"
if opt == 'add':
    result = a + b
elif opt == 'sub':
    result = a - b
elif opt == 'mul':
    result = a * b
else:
    result = a / b
print(result)

30

In [294]:
if opt == "add": 
    result = a + b;
else:
    if opt == "sub":
        result = a - b
    else:
        if opt == "mul":
            result = a * b
        else:
            result = a / b
print(result)

30

In [295]:
result = a + b if opt == "add" else ( a - b if opt == "sub"
                               else ( a * b if opt == "mul"
                               else   a / b))
print(result)

30

In [296]:
# 반복문
print("나무를 1번 찍었습니다.")
print("나무를 2번 찍었습니다.")
print("나무를 3번 찍었습니다.")
print("나무를 4번 찍었습니다.")
print("나무를 5번 찍었습니다.")
print("나무를 6번 찍었습니다.")
print("나무를 7번 찍었습니다.")
print("나무를 8번 찍었습니다.")
print("나무를 9번 찍었습니다.")
print("나무를 10번 찍었습니다.")
print("나무가 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.

In [305]:
start =  1
while start <= 10:
    #print("나무를 %d번 찍었습니다." % start)
    #print("나무를 {0}번 찍었습니다.".format(start))
    #print("나무를 {s}번 찍었습니다.".format(s = start))
    print(f"나무를 {start}번 찍었습니다.")
    start += 1

print("나무가 넘어갑니다.")
# start = 1 + 1
# start = 2 + 1
# start = 3 + 1
#...
# start = 10 + 1 
# strat = 11
l = [1,2,3,4,5]
print(l[2:4])
###명령어가 반복이 될 때 명령문 하나를 이용해서 여러번 실행이 될 수 있게

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무가 넘어갑니다.
[3, 4]

In [307]:
'''
8단 출력
8  * 1 = 8 * 1
8  * 2 = 8 * 2
8  * 3 = 8 * 3
8  * 4 = 8 * 4
8  * 5 = 8 * 5
8  * 6 = 8 * 6
8  * 7 = 8 * 7
8  * 8 = 8 * 8
8  * 9 = 8 * 9
'''
start = 1
while start <= 9:
    print(f"8  * {start} = {8 * start}")
    start += 1

8  * 1 = 8
8  * 2 = 16
8  * 3 = 24
8  * 4 = 32
8  * 5 = 40
8  * 6 = 48
8  * 7 = 56
8  * 8 = 64
8  * 9 = 72

In [312]:
dan = int(input("단을 입력하세요."))
start = 1
while start <= 9:
    print(f"{dan}  * {start} = {dan * start}")
    start += 1

단을 입력하세요.5
5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45

In [315]:
dan = int(input("단을 입력하세요."))
startGop = int(input("시작 곱을 입력하세요."))
endGop = int(input("끝 곱을 입력하세요."))
start = startGop
while start <= endGop:
    print(f"{dan}  * {start} = {dan * start}")
    start += 1

단을 입력하세요.5
시작 곱을 입력하세요.2
끝 곱을 입력하세요.5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25