In [1]:
from IPython.core.display import display, HTML
display(HTML(
"""<style>
div.container { width:100% !important; }
div.CodeMirror {font-family: Consolas; font-size: 30pt;}
div.output { font-size: 20pt; font-weight: bold;}
div.input { font-family: Consolas; font-size: 30pt;}
div.prompt { min-width: 100px;}
</style>
"""))

C:\Users\soldesk\AppData\Local\Temp\ipykernel_14676\1014303460.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [4]:
lotto = [1,2,3,4,5,6,7,8,9]
#        0 1 2 3 4 5 6 7 8
result = lotto.pop(3)
print(result)
print(lotto) # [1, 2, 3, 5, 6, 7, 8, 9]
result = lotto.pop(5)
print(result)

4
[1, 2, 3, 5, 6, 7, 8, 9]
7

In [22]:
import random
lotto = [1,2,3,4,5,6,7,8,9]
#        0 1 2 3 4 5 6 7 8
idx=random.randint(0,8)
print("idx :" , idx)
print("lotto : " ,lotto[idx])
print(len(lotto))
result = lotto.pop(idx)
print(len(lotto))
idx=random.randint(0,7)

idx : 3
lotto :  4
9
8

In [70]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
#print(lotto)
#print("len(lotto) " , len(lotto))
size = len(lotto) #45
y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0,size)
    #print(idx)
    lottoNum = lotto.pop(idx) # 비복원추출
    print(lottoNum, end=", ")
    y+=1

32
9
4
30
41
26

In [71]:
# 3단을 출력하시오
i = 1
while i <= 9:
    print(f"3 * {i} = {3 * i}")
    i+=1
# 4단을 출력하시오
i = 1
while i <= 9:
    print(f"4 * {i} = {4 * i}")
    i+=1
# 5단을 출력하시오
i = 1
while i <= 9:
    print(f"5 * {i} = {5 * i}")
    i+=1
# 6단을 출력하시오
i = 1
while i <= 9:
    print(f"6 * {i} = {6 * i}")
    i+=1

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
dan = 3
while dan <= 6:
    i = 1
    while i <= 9:
        print(f"{dan} * {i} = {dan * i}")
        i+=1
    dan += 1

In [ ]:
startDan =  int(input("시작단을 넣어주세요.: "))
endDan = int(input("마지막단을 넣어주세요.: "))
startGop = int(input("시작곱을 넣어주세요.: "))
endGop = int(input("마지막곱을 넣어주세요.: "))
dan = startDan
while dan <= endDan:
    i = startGop
    while i <= endGop:
        print(f"{dan} * {i} = {dan * i}")
        i+=1
    dan += 1

In [79]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
size = len(lotto) #45
y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0,size)
    lottoNum = lotto.pop(idx) # 비복원추출
    print(lottoNum, end=", ")
    y+=1
lotto.clear()

8, 1, 14, 21, 6, 40, [2, 3, 4, 5, 7, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45]
[]

In [84]:
qty = int(input("구매숫자를 입력해주세요 : "))
cnt = 1
while cnt <= qty:
    i = 1
    while i <= 45:
        lotto.append(i)
        i+=1
    size = len(lotto) #45
    y = 1
    while y <= 6:
        size -= 1
        idx = random.randint(0,size)
        lottoNum = lotto.pop(idx) # 비복원추출
        print(lottoNum, end=", ")
        y+=1
    lotto.clear()
    print()
    cnt += 1

구매숫자를 입력해주세요6
36, 32, 27, 42, 35, 37,
14, 5, 23, 30, 42, 45,
26, 19, 25, 3, 36, 44,
10, 23, 32, 17, 22, 43,
21, 2, 42, 23, 33, 19,
9, 7, 14, 28, 43, 29,

In [ ]:
### 1 ~ 100까지의 합을 구하시오.
i = 1
result = 0
result = result + 1
result = result + 2
result = result + 3
result = result + 4
result = result + 5
result = result + 6
result = result + 7
...
result = result + 100

In [86]:
i = 1
result = 0
while i <= 100:
    result += i
    i += 1
print(result)

5050

In [89]:
### 1 ~ 100까지의 합 중 짝수만 구하시오.
i = 0
result=0
while i < 100:
    i += 1
    if i % 2 != 0:
        continue
    result += i 
print(result)

2550

In [93]:
### 1 ~ 100까지의 합 중 홀수만 구하시오.
i = 0
result = 0
while i <= 99:
    i += 1
    if i % 2 == 0:
        continue
    result += i
print(result)

i = 1
result = 0
while i <= 100:
    if i % 2 != 0:
        result += i
    i += 1
print(result)

i = 0
while i <= 99:
    i += 1
    if i % 2 != 0:
        result += i

2500
2500

In [96]:
i = 1
result = 0
while True:
    if i == 101:
        break
    result += i
    i += 1
print(result)

5050

In [97]:
### 1 ~ 100까지의 합 중 홀수만 구하시오.  True를 이용
i = 0
result = 0
while True:
    i += 1
    if i == 101:
        break
    if i % 2 == 0:
        continue   
    result += i
print(result)

2500

In [98]:
# 리스트에 있는 합을 구하시오
l = [34,76,99,45,78,89]
#     0  1  2  3  4  5
result = 0
result = result + l[0]
result = result + l[1]
result = result + l[2]
result = result + l[3]
result = result + l[4]
result = result + l[5]
print(result)

421

In [101]:
l = [34,76,99,45,78,89]
result = 0 
i = 0
while i <= 5:
    result = result + l[i]
    i += 1
print(result)

print(1 in l)
print(99 in l)

421
False
True

In [105]:
l = [34,76,99,45,78,89]
i = 0
result = 0
while i <= 5:
    num = l[i]
    result += num
    i += 1
print(result)

print()

result = 0 
for num in l:
    result += num
print(result)

421

421

In [ ]:
while True:
    dan = int(input("단을 입력해주세요. : "))
    if dan >= 10:
        print("프로그램이 종료되었습니다.")
        break
    gop = 1
    while gop <= 9:
        print(f"{dan} * {gop} = {dan * gop}")
        gop += 1

In [112]:
t = (23,454,76,232,656)
result = 0 
for num in t:
    result += num
print(result)

1441

In [116]:
### 1 ~ 100까지의 합 중 홀수만 구하시오.
i = 1
result = 0
while i <= 100:
    result += i
    i += 1
print(result)

result = 0
for i in range(1,101):
    result += i
print(result)

5050
5050

In [118]:
# 1~100까지의 합중 홀수만 더하시오.
result = 0
for i in range(1,101):
    if i % 2 == 0:
        continue
    result += i
print(result)
result = 0
for i in range(1,101):
    if i % 2 != 0:
        continue
    result += i
print(result)

2500
2550

In [120]:
result = 0
for i in range(1,1000):
    if i == 101:
        break
    result += i
print(result)

5050

In [ ]:
t = (23,454,76,232,656)
#     0  1   2  3   4
i = 0
result = 0
size = len(t)
while i < size:
    result += t[i]
print(result)

for i in t:
    result += t[i]
print(result)

In [121]:
#리스트의 평균을 구하시오.
l = [23,45,78,87,42,22,35] 
i = 0
sum1 = 0
size = len(l)
while i < size:
    sum1 += l[i]
    i += 1
print(sum1 / size)
print("==" * 30)
sum1 = 0 
for num in l:
    sum1+=num
print(sum1 / len(l))

47.42857142857143

In [125]:
l1 = [(1,2),(3,4),(5,6)]
#       0     1     2
for num in l1:
    print(num)
a , b = (10, 30)
print(a, b)
for  a, b in l1:
    print(a , b)

(a , b) = (10, 30)
for  (a, b) in l1:
    print(a , b)

(1, 2)
(3, 4)
(5, 6)
10 30
1 2
3 4
5 6
1 2
3 4
5 6

In [130]:
l1 = [[1,2,3],[4,5,6],[7,8,9]]
print(l1)
for num in l1:
    print(num)
[a,b,c] = [1,2,3]
print(a,b,c)
for a,b,c in l1:
    print(a,b,c)
    
for (a,b,c) in l1:
    print(a,b,c)
    
for [a,b,c] in l1:
    print(a,b,c)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
1 2 3
1 2 3
4 5 6
7 8 9
1 2 3
4 5 6
7 8 9
1 2 3
4 5 6
7 8 9

In [132]:
'''
l1 = [[1,2,3],[4,5],[7,8,9]]
for a,b,c in l1:
    print(a,b,c)
'''

'\nl1 = [[1,2,3],[4,5],[7,8,9]]\nfor a,b,c in l1:\n    print(a,b,c)\n'

In [134]:
# 3단
gop = 1
while gop <= 9:
    print(f"3 * {gop} = {3 * gop}")
    gop += 1

print("==" * 30)

for gop in range(1, 1 + 9):
    print(f"3 * {gop} = {3 * gop}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
============================================================
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 3단
for gop in range(1, 1 + 9):
    print(f"3 * {gop} = {3 * gop}")
#4단
for gop in range(1, 1 + 9):
    print(f"4 * {gop} = {4 * gop}")
#5단
for gop in range(1, 1 + 9):
    print(f"5 * {gop} = {5 * gop}")
#6단
for gop in range(1, 1 + 9):
    print(f"6 * {gop} = {6 * gop}")

In [ ]:
dan = 3
while dan <= 6:
    for gop in range(1, 1 + 9):
        print(f"{dan} * {gop} = {dan * gop}")
    dan+=1

for dan in range(3, 6 + 1):
    for gop in range(1, 1 + 9):
        print(f"{dan} * {gop} = {dan * gop}")

In [ ]:
startDan = int(input("시작단을 입력해주세요 : "))
endDan = int(input("끝단을 입력해주세요 : "))
startGop = int(input("시작곱을 입력해주세요 : "))
endGop = int(input("끝단곱을 입력해주세요 : "))
for dan in range(startDan, endDan + 1):
    for gop in range(startGop, endGop + 1):
        print(f"{dan} * {gop} = {dan * gop}")

In [140]:
import random
lotto = []
i = 1
while i <= 45:
    lotto.append(i)
    i+=1
size = len(lotto) #45
y = 1
while y <= 6:
    size -= 1
    idx = random.randint(0,size)
    lottoNum = lotto.pop(idx) # 비복원추출
    print(lottoNum, end=", ")
    y+=1

26, 11, 30, 14, 8, 41,

In [141]:
import random
lotto = []
for num in range(1, 45+ 1):
    lotto.append(num)
size = len(lotto)
for i in range(6):
    size -= 1
    idx = random.randint(0,44)
    lottoNum = lotto.pop(idx)
    print(lottoNum, end=", ")

43, 2, 3, 20, 37, 23,

In [ ]:
qty = int(input("수량을 입력해주세요. : "))
lotto = []
for cnt in range(qty):
    for num in range(1, 45+ 1):
        lotto.append(num)
    size = len(lotto)
    for i in range(6):
        size -= 1
        idx = random.randint(0,size)
        lottoNum = lotto.pop(idx)
        print(lottoNum, end=", ")
    print()
    lotto.clear()

In [158]:
# 리스트를 포함한 반복문
t = (1,2,3,4)
l = []
for num in t:
    l.append(num)
print(l)

l = [num for num in t]
print(l)

#튜플에 있는 값에 3을 곱한 값을 리스트에 저장
l = []
for num in t:
    l.append(num * 3)
print(l)
l=[num * 3 for num in t]
print(l)

#튜플에 있는 값 중 짝수만 3을 곱한 값을 리스트에 저장
l = []
for num in t:
    if num % 2 == 0:
        l.append(num * 3)
print(l)
l = [num *3 for num in t if num % 2 == 0]
print(l)

[1, 2, 3, 4]
[1, 2, 3, 4]
[3, 6, 9, 12]
[3, 6, 9, 12]
[6, 12]
[6, 12]

In [ ]:
l =[]
for gop in range(1, 10):
    l.append(3 * gop)
print(l)
l = [3 * gop for gop in range(1, 10)]
print(l)

print()
l = []
for dan in range(3, 7):
    for gop in range(1, 10):
        l.append(dan * gop)
print(l)
l = [dan * gop for dan in range(3, 7) 
               for gop in range(1, 10)]
print(l)

l = []
for dan in range(3, 7):
    for gop in range(1, 10):
        if gop % 2 == 0:
            l.append(dan * gop)
print(l)
l=[dan * gop for dan in range(3, 7) 
             for gop in range(1, 10) if gop % 2 == 0]
print(l)

In [168]:
marks = [90, 25, 67, 45, 80]
sum1 = 0
for num in marks:
    sum1 += num
print(sum1)
idx = 0
sum1 = 0
while idx < len(marks):
    sum1 += marks[idx]
    idx += 1
print(sum1)

sum1 = 0
for idx in range(len(marks)): # range(0, 5) : 0,1,2,3,4
    sum1+=marks[idx]
print(sum1)

307
307
307

In [169]:
# 함수(function) : x 값에 따라 y값이 변화하도록 만들어주는 것
'''
func(x) = 2x + 3일 때
y = func(4)라면 y는 얼마입니까? y = 11
y = func(6)이라면  y값은? y=15
'''
def f(x):
    return 2 * x + 3

In [ ]:
리터널 자료형 : 정수리터널 : 10 
               실수 리터널: 10.5 
               문자열 리터널 : "a",'a',"""a""",'''a'''
               a : 변수 , 
               a() : 함수 : print(), str(), int(), float(), input()

In [194]:
import random # 모듈 : random.py
num = random.randint(1,20) #randint()함수
print(num)

4

In [171]:
y = f(6)
print(y)
y = f(4)
print(y)

15
11

In [172]:
'''
func(x1, x2) = 3x1 + 4x2 + 5일때
y = func(3, 5)라면 y값은?
x1,x2 : 가인자 , parameter
3, 5 : 실인자 , argument
parameter와 argument는 서로 일대일 대응을 해야 한다.
'''
def f(x1, x2):
    return 3*x1 + 4*x2 + 5

In [173]:
y = f(3, 5)
print(y)

34

In [ ]:
'''
# 함수 정의 
func(x1, x2) = 3x1 + 4x2 + 5
    피호출함수
def function명(parameter1,parameter2,parameter3,...,parameter_n):
    명령문1
    명령문2
    ....
    결과값 = 명령문_n
    return  결과값

        호출함수
변수 =  function명(argument1,argument2,argument3,...,argument_n)
print(변수)
호출함수에 있는 argument는 피호출함수의 parameter에게 전달이 된다.
'''

In [175]:
def sum(x1, x2): #피호출함수 : x1, x2는 parameter, 가인자.
    return x1 + x2

In [176]:
    #호출함수 : 3,6은 argument,  실인자, 인자.
y = sum(3, 6) #  = 9
print(y)

9

In [ ]:
# 3단 : 
for gop in range(1, 10):
    print(f"3 * {gop} = {3 * gop}")
# 5단
for gop in range(1, 10):
    print(f"5 * {gop} = {5 * gop}")
# 9단
for gop in range(1, 10):
    print(f"9 * {gop} = {9 * gop}")

In [178]:
def gugudan(dan): # 피호출함수 :dan은 parameter , 매개변수
    for gop in range(1, 10):
        print(f"{dan} * {gop} = {dan * gop}")

In [ ]:
gugudan(3) #  호출함수 : 3은 argument 
gugudan(5)
gugudan(9)

In [189]:
# 함수를 정의하는 4가지 방식
#1. 입력값(x)이 있고 결과값(return)이 있는 경우
#   일반적인 형식
def add(x1, x2):
    result = x1 + x2
    return  result

In [190]:
i1 = int(input("숫자를 입력해주세요 : ")) 
i2 = int(input("숫자를 입력해주세요 : ")) 
y = add(i1, i2)
print(y)

숫자를 입력해주세요 : 3
숫자를 입력해주세요 : 5
8

In [191]:
# 2.입력값은 없고 결과값이 있는 경우
def add():
    x1 = int(input("숫자를 입력해주세요 : ")) 
    x2 = int(input("숫자를 입력해주세요 : ")) 
    result = x1 + x2
    return result

In [192]:
y = add()
print(y)

숫자를 입력해주세요 : 3
숫자를 입력해주세요 : 5
8

In [195]:
# 3.입력값은 있고 결과값이 없는 경우
def add(x1, x2):
    print(x1 + x2)

In [196]:
add(3, 5)

8

In [199]:
#4.입력값이 없고 결과값도 없는 경우
def add():
    x1 = int(input("숫자를 입력해주세요"))
    x2 = int(input("숫자를 입력해주세요"))
    print(x1 + x2)
#결과값이 있는 경우는 결과값이 하나인 경우에만 사용 가능하다.

In [200]:
add()

숫자를 입력해주세요3
숫자를 입력해주세요5
8

In [203]:
# 반복적으로 사용해야 하는 코드가 있는 경우
def lotto():
    qty = int(input("수량을 입력해주세요. : "))
    lotto = []
    for cnt in range(qty):
        for num in range(1, 45+ 1):
            lotto.append(num)
        size = len(lotto)
        for i in range(6):
            size -= 1
            idx = random.randint(0,size)
            lottoNum = lotto.pop(idx)
            print(lottoNum, end=", ")
        print()
        lotto.clear()

In [204]:
lotto()

수량을 입력해주세요. : 1
24, 42, 33, 43, 35, 11,

In [205]:
lotto()

수량을 입력해주세요. : 4
32, 35, 9, 20, 39, 22,
12, 16, 20, 36, 45, 34,
40, 9, 15, 45, 28, 6,
44, 27, 19, 11, 28, 6,

In [207]:
def lotto(qty):
    lotto = []
    for cnt in range(qty):
        for num in range(1, 45+ 1):
            lotto.append(num)
        size = len(lotto)
        for i in range(6):
            size -= 1
            idx = random.randint(0,size)
            lottoNum = lotto.pop(idx)
            print(lottoNum, end=", ")
        print()
        lotto.clear()

In [208]:
x1 = int(input("수량을 입력해주세요. : "))
lotto(x1)

수량을 입력해주세요. : 5
20, 3, 27, 23, 12, 18,
21, 14, 38, 28, 6, 10,
3, 16, 34, 2, 32, 23,
25, 12, 10, 23, 38, 26,
19, 1, 28, 34, 40, 20,

In [209]:
def lotto():
    lotto = []
    for num in range(1, 45+ 1):
        lotto.append(num)
    size = len(lotto)
    lottoNum = []
    for i in range(6):
        size -= 1
        idx = random.randint(0,size)
        lottoNum.append(lotto.pop(idx))
    return lottoNum

In [212]:
result = lotto();
print(result)

[32, 20, 16, 37, 5, 9]
[29, 6, 15, 20, 25, 3]
[38, 10, 22, 41, 27, 20]
[19, 12, 29, 23, 41, 15]
[25, 40, 12, 31, 1, 35]
[19, 27, 29, 5, 11, 40]

In [211]:
cnt = int(input("숫자를 입력해 주세요"))
for i in range(cnt):
    result = lotto();
    print(result)

숫자를 입력해 주세요5
[15, 16, 34, 41, 33, 18]
[13, 36, 19, 6, 3, 15]
[23, 31, 15, 9, 19, 10]
[22, 4, 37, 19, 24, 15]
[20, 40, 32, 8, 45, 5]

In [213]:
def lottoCnt():
    cnt = int(input("숫자를 입력해 주세요"))
    for i in range(cnt):
        result = lotto();
        print(result)

In [214]:
lottoCnt()

숫자를 입력해 주세요4
[36, 32, 5, 8, 44, 11]
[38, 40, 29, 22, 3, 6]
[26, 17, 13, 44, 42, 14]
[29, 11, 20, 37, 25, 42]

In [215]:
# 1~100, 20 ~200, 1 ~ 1000까지의 합을 구하시요.
start = 1
end = 100
sum1 = 0
for num in range(start , 1 + end ):
    sum1+=num
print(sum1)

5050

In [216]:
start = 20
end = 200
sum1 = 0
for num in range(start , 1 + end ):
    sum1+=num
print(sum1)

19910

In [217]:
start = 1
end = 1000
sum1 = 0
for num in range(start , 1 + end ):
    sum1+=num
print(sum1)

500500

In [220]:
def sum12(start, end): # 입력값이 있고 결과값이 있는 함수
    sum1 = 0
    for num in range(start , 1 + end ):
        sum1+=num
    return sum1

In [221]:
y = sum12(1, 100)
print(y)
y = sum12(20, 200)
print(y)

5050
19910

In [223]:
def sum12(start, end): # 입력값이 있고 결과값이 없는 함수
    sum1 = 0
    for num in range(start , 1 + end ):
        sum1+=num
    print(sum1)

In [231]:
sum12(2, 2000)
sum12(1, 100)
sum12(start = 1, end = 100)
sum12(end = 100, start = 1)
sum12(1, end = 100)

2000999
5050
5050
5050
5050

In [232]:
def sum12(a,b,c,d):
    print(a + b+ c +d)

In [235]:
# parameter이름을 이용해서 값을 전달
sum12(10, c = 199, b = 20, d =10)
sum12(19, 20, d = 4, c= 2)
print(100 , end =", ")

239
45
100,

In [244]:
def sum11(* para): # 매개변수에 *연산자를 사용하면 매개변수를 튜플로 사용
    print(para)
    result = 0
    for num in para:
        result += num
    print(result)

In [245]:
sum11(1,2)
sum11(1,2,3)
sum11(1,2,3,4,5)

t = (1,2,3,4,5,6)
print(t)
t1 = 1,2,3,4,5,6
print(t1)
t = 1,2
print(t)
t = 1,2,3
print(t)
t = 1,2,3,4,5
print(t)

(1, 2)
3
(1, 2, 3)
6
(1, 2, 3, 4, 5)
15
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6)
(1, 2)
(1, 2, 3)
(1, 2, 3, 4, 5)

In [253]:
def sum11(*para1):
    result = 1
    if para1[0] == "add":
        for idx in range(1,len(para1)):
            result += para1[idx]
    elif para1[0] == "sub":
        for idx in range(1,len(para1)):
            result -= para1[idx]
    elif para1[0] == "mul":
        for idx in range(1,len(para1)):
            result *= para1[idx]
    print(result)

In [252]:
sum11("add",1,2)
sum11("mul",1,2,3)
sum11("sub",1,2,3,4,5)

4
6
-14

In [246]:
t = "add",1,2
print(t)

('add', 1, 2)

In [258]:
def sum11(opt, *para1):
    result1 = 1
    if opt == "add":
        for num in para1:
            result1 += num
    elif opt == "sub":
        for num in para1:
            result1 -= num
    elif opt == "mul":
        for num in para1:
            result1 *= num
    else:
        for num in para1:
            result1 /= num
    print(result1)

In [259]:
sum11("add",1,2)
sum11("mul",1,2,3)
sum11("sub",1,2,3,4,5)

4
6
-14

In [264]:
def add_mul(x, y):
    i = x + y
    j = x * y
    return i, j

In [267]:
t = 1, 2
print(t)
x = 1
y = 2
t = x, y
print(t)
result = add_mul(3, 5)
print(result)
print(result[0] + result[1])

(1, 2)
(1, 2)
(8, 15)
23

In [269]:
def add_mul(x, y):
    i = x + y
    j = x * y
    return i # return문은 하나만 사용이 가능하다. return은 함수를 종료
    return j

In [270]:
result = add_mul(3, 5)
print(result)

8

In [271]:
#### 매개변수에 초깃값 미리 설정하기 
def say_myself(name, old, man):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [275]:
say_myself("이숭무", 35, True)
say_myself(old=35, man=True, name="이숭무")

나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.

In [276]:
def say_myself(name, old, man=True):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

In [279]:
say_myself("이숭무", 35, True)
say_myself("이숭무", 35)
say_myself("아이유", 29, False)

나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 35입니다.
남자입니다.
나의 이름은 아이유입니다
나의 나이는 29입니다.
여자입니다.

In [283]:
def say_myself(name, old=25, man=True):
    print("나의 이름은 %s입니다" %  name)
    print("나의 나이는 %d입니다."% old)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

SyntaxError: non-default argument follows default argument (3074980091.py, line 1)

In [286]:
say_myself("이숭무")
say_myself("이숭무", False) # old에게 False값이 전달

나의 이름은 이숭무입니다
나의 나이는 25입니다.
남자입니다.
나의 이름은 이숭무입니다
나의 나이는 20입니다.
여자입니다.

In [308]:
#전역변수 : 프로그램 전체에서 사용 가능한 변수, 함수밖에 있는 변수
#지역변수 : 함수안에서만 사용가능한 변수
b = 1 # 전역변수
def test3():
    b = 100 # 지역변수
    cccc = 1000
    print("함수 안에 있는 변수 :" , cccc)
    print("함수 안에 있는 변수 :" , b)

In [310]:
print("함수 밖에 있는 변수 : " , b) # 전역변수
test3()
print("함수 밖에 있는 변수 : " , b)
# print(cccc) : 지역변수는 함수 안에서만 사용 가능하다.
# 전역변수와 지역변수의 이름이 같은 경우에는 지역변수가 우선하므로
# 함수 안에서는 전역변수를 사용할 수 없다.

함수 밖에 있는 변수 :  1
함수 안에 있는 변수 : 1000
함수 안에 있는 변수 : 100
함수 밖에 있는 변수 :  1

In [312]:
# 함수안에 있는 변수가 전역변수임을 나타내줘야 한다.
b = 1 # 전역변수
def test3():
    global b
    b = 100 # 전역변수
    cccc = 10000
    print(b)

In [314]:
print("함수 밖에 있는 변수 : ", b)
test3()
print("함수 밖에 있는 변수 : ", b)
# print("함수 안에 있는 변수 : ", cccc)

함수 밖에 있는 변수 :  100
100
함수 밖에 있는 변수 :  100

In [316]:
### lambda함수
def add(a, b):
    return a + b

In [318]:
result = add(3, 4)
print(result)

7

In [320]:
add = lambda a, b : a + b

In [321]:
result = add(3, 4)
print(result)

7

In [ ]:
def add(a, b=4):
    return a + b

In [323]:
add = lambda a, b=4 : a + b

In [325]:
result = add(3, 4)
print(result)

7

In [331]:
def calu(opt , a, b):
    if opt == "add":
        return a + b
    else:
        return a - b

In [332]:
result = calu("add", 4, 6)
print(result)

10

In [333]:
calu = lambda opt , a, b : a + b if opt == "add" else a - b

In [334]:
result = calu("add", 4, 6)
print(result)

10

In [335]:
def calu(opt , a, b):
    if opt == "add":
        return a + b
    else:
        if opt == "sub":
            return a - b
        else:
            if opt == "mul":
                return a * b
            else:
                return a / b

In [336]:
result = calu("add", 4, 6)
print(result)

10

In [338]:
calu = lambda opt , a, b : a + b if opt == "add" else(
                           a - b if opt == "sub" else(
                           a * b if opt == "mul" else a / b
                           )
)

In [339]:
result = calu("add", 4, 6)
print(result)

10

In [347]:
## 파일 입출력
### 데이터를 파일에 저장하거나 파일에 있는 내용을 가지고 오는 것
## 파일에 데이터 저장
#f = open("C:/Users/soldesk/python20230408/test.txt", "w")
#open(file, mode='r', buffering=None, encoding=None, errors=None, newline=None, closefd=True):
f = open("test.txt",'r', encoding = "utf-8" )
f.write("1번째줄입니다.\n")
f.write("2번째줄입니다.\n")
f.write("3번째줄입니다.\n")
f.write("4번째줄입니다.\n")
f.write("5번째줄입니다.\n")
f.close()

In [348]:
f = open("test.txt","w", encoding = "utf-8")
f.write("6번째줄입니다.\n")
f.write("7번째줄입니다.\n")
f.write("8번째줄입니다.\n")
f.write("9번째줄입니다.\n")
f.write("10번째줄입니다.\n")
f.close()

In [349]:
f = open("test.txt","w", encoding = "utf-8")
for i in range(1,11):
    f.write(f"{i}번째줄입니다.\n")
f.close()

In [350]:
f = open("test.txt","a", encoding = "utf-8")
for i in range(11,21):
    f.write(f"{i}번째줄입니다.\n")
f.close()

In [354]:
f = open("test.txt","r", encoding = "utf-8")
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
line = f.readline()
print(line)
f.close()

﻿1번째줄입니다.

2번째줄입니다.

3번째줄입니다.

4번째줄입니다.

In [358]:
f = open("test.txt","r", encoding = "utf-8")
while True:
    line = f.readline()
    if not line:
        break
    print(line, end="")
f.close()

﻿1번째줄입니다.
2번째줄입니다.
3번째줄입니다.
4번째줄입니다.
5번째줄입니다.
6번째줄입니다.
7번째줄입니다.
8번째줄입니다.
9번째줄입니다.
10번째줄입니다.
11번째줄입니다.
12번째줄입니다.
13번째줄입니다.
14번째줄입니다.
15번째줄입니다.
16번째줄입니다.
17번째줄입니다.
18번째줄입니다.
19번째줄입니다.
20번째줄입니다.

In [366]:
f = open("test.txt","r", encoding = "utf-8")
lines = f.readlines()
print(lines)

for line in lines:
    print(line, end="")

print("".join(lines))
f.close()

['\ufeff1번째줄입니다.\n', '2번째줄입니다.\n', '3번째줄입니다.\n', '4번째줄입니다.\n', '5번째줄입니다.\n', '6번째줄입니다.\n', '7번째줄입니다.\n', '8번째줄입니다.\n', '9번째줄입니다.\n', '10번째줄입니다.\n', '11번째줄입니다.\n', '12번째줄입니다.\n', '13번째줄입니다.\n', '14번째줄입니다.\n', '15번째줄입니다.\n', '16번째줄입니다.\n', '17번째줄입니다.\n', '18번째줄입니다.\n', '19번째줄입니다.\n', '20번째줄입니다.\n']
﻿1번째줄입니다.
2번째줄입니다.
3번째줄입니다.
4번째줄입니다.
5번째줄입니다.
6번째줄입니다.
7번째줄입니다.
8번째줄입니다.
9번째줄입니다.
10번째줄입니다.
11번째줄입니다.
12번째줄입니다.
13번째줄입니다.
14번째줄입니다.
15번째줄입니다.
16번째줄입니다.
17번째줄입니다.
18번째줄입니다.
19번째줄입니다.
20번째줄입니다.
﻿1번째줄입니다.
2번째줄입니다.
3번째줄입니다.
4번째줄입니다.
5번째줄입니다.
6번째줄입니다.
7번째줄입니다.
8번째줄입니다.
9번째줄입니다.
10번째줄입니다.
11번째줄입니다.
12번째줄입니다.
13번째줄입니다.
14번째줄입니다.
15번째줄입니다.
16번째줄입니다.
17번째줄입니다.
18번째줄입니다.
19번째줄입니다.
20번째줄입니다.

In [367]:
f = open("test.txt","r", encoding = "utf-8")
data = f.read()
print(data)
f.close()

﻿1번째줄입니다.
2번째줄입니다.
3번째줄입니다.
4번째줄입니다.
5번째줄입니다.
6번째줄입니다.
7번째줄입니다.
8번째줄입니다.
9번째줄입니다.
10번째줄입니다.
11번째줄입니다.
12번째줄입니다.
13번째줄입니다.
14번째줄입니다.
15번째줄입니다.
16번째줄입니다.
17번째줄입니다.
18번째줄입니다.
19번째줄입니다.
20번째줄입니다.

In [368]:
with open("test.txt","w", encoding = "utf-8") as f:
    for i in range(1, 11):
        f.write(f"{i}번째 줄입니다.\n")

In [369]:
with open("test.txt","a", encoding = "utf-8") as f:
    for i in range(11, 21):
        f.write(f"{i}번째 줄입니다.\n")

In [370]:
with open("test.txt","r", encoding = "utf-8") as f:
    data = f.read()
print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.
16번째 줄입니다.
17번째 줄입니다.
18번째 줄입니다.
19번째 줄입니다.
20번째 줄입니다.

In [401]:
### class : 변수, 함수를 하나로 묶어서 반복적으로 사용
result = 1 #전역변수
def f(x): 
    global reulst 
    result += x

class Calculator:
    result = 1 #전역 변수
    def f(self, x): # 전역변수를 사용하는 함수
        self.result += x

In [396]:
calculator = Calculator() # result = 1, f(x)
print(calculator.result)
calculator.f(20)
print(calculator.result)
calculator.result = 100
print(calculator.result)
calculator.f(200)
print(calculator.result)

1
21
100
300

In [398]:
calc = Calculator() # result = 1, f(x)
calc.result = 10
print(calculator.result)
print(calc.result)

300
10

In [415]:
result = 1 
def f(x): 
    global result 
    result += x

In [406]:
f(10)
print(result)
f(20)
print(result)

21
41

In [416]:
result1 = 1 
def f1(x): 
    global result1 
    result1 += x

In [417]:
print(result)
print(result1)
f1(100)
print(result1)

1
1
101

In [ ]:
result2 = 1 
def f2(x): 
    global result2 
    result2 += x

In [418]:
a = Calculator() # result , f(x)
b = Calculator() # result1 ,f1(x) : result , f(x)
c = Calculator() # result2 , f2(x) : result , f(x)
# a객체, b객체, c객체
# class는 여러개의 객체를 만들기 위해서 사용한다.

In [420]:
calc1 =  Calculator()
calc1.result = 10
print(calc1.result)
Calculator.f(calc1, 10)  # f(self, x)

10